<div class="row">

  <div class="large-10 columns">
    <div class="large-4 large-centered columns">
      <h3>All Users</h3>
      <% User.all.each do |user| %>
        <p><%= link_to user.email, messages_path(recipient: user.id) %></p>
      <% end %>
    </div>

    <div class="large-6 large-centered columns">
      <h1>Messages#index</h1>

      <div class="text-center">
        <%= content_tag :div, id: "messages_#{params[:recipient]}"  do %>
          <%= render @messages %>
        <% end %>
      </div>

      <%= form_for Message.new, remote: true do |f|%>
        <%= f.text_area :content, 'data-behavior' => 'new_message_field' %>
        <%= f.hidden_field :recipient_id, value: params[:recipient], id: 'recipient_field' %>
        <%= f.submit 'Send', class: 'button' %>
      <% end %>

    </div>
  </div>
</div>
