<div class="row">
  <div class="large-6 large-centered columns">
    <h1>Messages#index</h1>

    <div class="text-center">
      <div id="messages">
        <%= render @messages %>
      </div>
    </div>

    <%= form_for Message.new, remote: true do |f|%>
      <%= f.text_area :content, 'data-behavior' => 'new_message_field' %>
      <%= f.hidden_field :recipient_id, value: params[:recipient] %>
      <%= f.submit 'Send', class: 'button' %>
    <% end %>

  </div>
</div>
